<!doctype html>
<html>
<head>
    <title>:: procatindex ::</title>
    <meta name="description" content="Procatindex is a list of all of Procatinator.com's cat GIF/music mashups" />

    <meta name="viewport" content="width=device-width" />
    <link rel="alternate" type="application/rss+xml" title="Procatindex (RSS 2.0)" href="http://procatindex.com/rss"/>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.1.0/base-min.css" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>
    <div id="main">

    <header>
        <hgroup>
            <h1>Procatindex</h1>
            <h2>(buffering a list of cats)</h2>
        </hgroup>
    </header>

    <section id="catmeta">
    <p>There are {{count}} cats on <a href="http://procatinator.com">Procatinator.</a></p>

        {% if cats %}
        <p>The most recent cat was added to this list on {{cats[-1].created|datetimeformat("%A, %B %d, %Y")}}.</p>
    {% endif %}

        <p>Never miss a cat with the <a href="/rss">RSS feed</a>.</p>
    </section>

    <section id="catlist">
        <ol start="0">
        {% for cat in cats %}
        <li><a href="{{cat.link}}">{{cat.title}}</a></li>
        {% endfor %}
        </ol>
    </section>

    <footer>
    <p><a href="http://mike.pirnat.com/2013/06/01/announcing-procatindex/">Created</a>
        in 2013 by <a href="http://mike.pirnat.com">Mike Pirnat</a>
        with love for <a href="http://procatinator.com">Procatinator.com</a> |
        <a href="/rss">RSS Feed</a><br />
        Support me on <a href="https://www.gittip.com/mpirnat/">Gittip</a> |
        Support Procatinator by buying <a href="http://procatinator.spreadshirt.es" target="_blank">their stuff</a></p>
    </footer>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-41301154-1', 'procatindex.com');
ga('send', 'pageview');
</script>

</div>

</body>
</html>
