<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
<channel>
<title>Procatindex</title>
<description>Keeping track of all the cats on Procatinator.com</description>
<link>http://procatindex.com</link>
<pubDate>{{now|datetimerss}}</pubDate>
<ttl>60</ttl>

{% for cat in cats %}
<item>
<title>{{cat.cat_id}}: {{cat.title}}</title>
<description><a href="{{cat.link}}">{{cat.cat_id}}: {{cat.title}}</a></description>
<link>{{cat.link}}</link>
<guid>procatinator-{{cat.id}}</guid>
<pubDate>{{cat.created|datetimerss}}</pubDate>
</item>
{% endfor %}

</channel>
</rss>
